<div class="col-lg-12 topic-box mt-3" *ngIf="topic">
    <div class="topic-data col-lg-9 float-left">
        <h1>{{topic.title}}</h1>
        <span class="badge badge-warning mr-2">
            {{topic.lang}}
        </span>
        <span class="badge badge-primary">
            {{topic.user.name +' '+ topic.user.surname}}
        </span>
        <span class="badge badge-light ml-2">
            {{topic.date | amLocale: 'es' | amTimeAgo}}
        </span>
   
        <p id="topic-content" class="mt-3">
            {{topic.content}}
        </p>  
        <p id="topic-code" class="mt-2" *ngIf="topic.lang && topic.code">
             <ngx-highlight-js lang="{{topic.lang}}"
             code="{{topic.code}}"></ngx-highlight-js>
        </p>  
    </div>
    <div class="clearfix"></div>
    <div id="comment-box" class="mt-2 col-lg-9">
        <h4>Comentarios</h4>
        <hr>
        <div class="alert alert-success alert-dismissible col-md-5 mt-3" *ngIf="status == 'Success'">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Exito!</strong> tu comentario se registrado
          </div>
          <div class="alert alert-danger alert-dismissible col-md-5 mt-3" *ngIf="status == 'error'">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Error!</strong> No Se pudo registrar tu comentario
          </div>
        <form #fomcomentario="ngForm" (ngSubmit)="agregar_cometario(fomcomentario)" *ngIf="identity">
            <div class="form-group">
                <label for="content">pon comentario</label>
                <textarea type="text" name="content" class="form-control" #content="ngModel" [(ngModel)]="comment.content" required>
                </textarea>
                <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
                  el contenido no es validoont
                </small>
              </div>
              <input type="submit" value="guardar" class="btn btn-success" [disabled]="fomcomentario.invalid">
        </form>
        <hr>
          <ul class="list-group list-comments mb-5">
            <li class="list-group-item comment-item" *ngFor="let comment of topic.comments">
                <div class="avatar_mask float-left mr-3">
                    <img src="{{ url + 'avatar/' + comment.user.image}}" class="avatar-nav">
                  </div>
                <span class="badge badge-primary">
                    {{comment.user.name +' '+ comment.user.surname}}
                </span>
                <span class="badge badge-light ml-2">
                    {{comment.date | amLocale: 'es' | amTimeAgo}}
                </span>   
                <span class="d-block">             
                {{comment.content}}     
                </span> 
                <button class="btn btn-danger float-right" (click)="borrarComentario(comment._id)" *ngIf="identity._id == comment.user._id">Eliminar</button>      
            </li>
           
          </ul>
    </div>
</div>
